<a href="{{poemario}}" class="card" style="background-image: url({{imagen}});">
    <div class="card-content">
        <p class="tag {{tag}}">{{tag}}</p>
        <h3>{{tituloPoemario}}</h3>
    </div>
</a>